$mainred: hsl(0, 78%, 62%);
$maincyan: hsl(180, 62%, 55%);
$mainorange:hsl(34, 97%, 64%);
$mainblue: hsl(212, 86%, 64%);
$neutraldkblue:hsl(234, 12%, 34%);
$neutralgrblue:hsl(229, 6%, 66%);
$neutralgrey:hsl(0, 0%, 98%);